## 1. Import Libraries

In [2]:
import os
import pandas as pd
import psycopg2 as pg2
import warnings

warnings.filterwarnings("ignore")

## 2. Tables of the Database
### Connecting the database from Jupyter Notebook

In [197]:
mypassword = os.getenv("POSTGRESQL_PASSWORD")

try:
    conn = pg2.connect(user = "postgres", password = mypassword, database = "olympics")
    cursor = conn.cursor()
    print("Database Connection Successful")
except pg2.connector.Error as err:
    print(f"Error: '{err}'")

Database Connection Successful

Once the database is successfully connected, let's list the name of the tables that it contains.

In [194]:
cursor.execute("""
SELECT table_schema, table_name
FROM information_schema.tables
WHERE table_schema = 'olympics'
""")

table_names = []
print('--- Tables within "olympics" database --- ')
for table in cursor:
    print(table[1])
    table_names.append(table[1])

--- Tables within "olympics" database ---
olympic_history
host_cities

Here are the previews of the 2 tables under the olympics database:

In [12]:
for table in table_names:
    print("Table: ", table)
    display(pd.read_sql("SELECT * FROM olympics." + table, conn))

Table:  olympic_history

,id,name,gender,born,died,height,weight,noc,game,team,sport,event,medal
0,131892,Meryem Erdoğan,Female,24 April 1990,NULL,172 cm,55 kg,Türkiye,2016 Summer Olympics,TUR,Athletics,"Athletics, Marathon, Women(Olympic)",NULL
1,131892,Meryem Erdoğan,Female,24 April 1990,NULL,172 cm,55 kg,Türkiye,2020 Summer Olympics,TUR,Athletics,"Athletics, Marathon, Women(Olympic)",NULL
2,131892,Meryem Erdoğan,Female,24 April 1990,NULL,172 cm,55 kg,Türkiye,2020 Summer Olympics,TUR,Athletics,"Athletics, Marathon, Women(Olympic)",NULL
3,4300,Maurice Maina,Male,1 January 1963,NULL,158 cm,47 kg,Kenya,1988 Summer Olympics,KEN,Boxing,"Boxing, Light-Flyweight, Men(Olympic)",NULL
4,4300,Maurice Maina,Male,1 January 1963,NULL,158 cm,47 kg,Kenya,1988 Summer Olympics,KEN,Boxing,"Boxing, Light-Flyweight, Men(Olympic)",NULL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
476343,20989,Caitlin Bilodeaux-Banos,Female,17 March 1965,NULL,170 cm,64 kg,United States,1988 Summer Olympics,USA,Fencing,"Fencing, Foil, Individual, Women(Olympic)",NULL
476344,20989,Caitlin Bilodeaux-Banos,Female,17 March 1965,NULL,170 cm,64 kg,United States,1988 Summer Olympics,USA,Fencing,"Fencing, Foil, Team, Women(Olympic)",NULL
476345,20989,Caitlin Bilodeaux-Banos,Female,17 March 1965,NULL,170 cm,64 kg,United States,1992 Summer Olympics,USA,Fencing,"Fencing, Foil, Individual, Women(Olympic)",NULL
476346,20989,Caitlin Bilodeaux-Banos,Female,17 March 1965,NULL,170 cm,64 kg,United States,1992 Summer Olympics,USA,Fencing,"Fencing, Foil, Team, Women(Olympic)",NULL
476347,20989,Caitlin Bilodeaux-Banos,Female,17 March 1965,NULL,170 cm,64 kg,United States,1992 Summer Olympics,USA,Fencing,"Fencing, Foil, Team, Women(Olympic)",NULL

Table:  host_cities

    year  season                  game                 host_city
0   1896  Summer  1896 Summer Olympics                    Athina
1   1900  Summer  1900 Summer Olympics                     Paris
2   1904  Summer  1904 Summer Olympics                 St. Louis
3   1908  Summer  1908 Summer Olympics                    London
4   1912  Summer  1912 Summer Olympics                 Stockholm
..   ...     ...                   ...                       ...
57  2010  Winter  2010 Winter Olympics                 Vancouver
58  2014  Winter  2014 Winter Olympics                     Sochi
59  2018  Winter  2018 Winter Olympics               PyeongChang
60  2022  Winter  2022 Winter Olympics                   Beijing
61  2026  Winter  2026 Winter Olympics  Milano-Cortina d'Ampezzo

[62 rows x 4 columns]

## 3. Data Cleaning

### 3.1 Check duplicates
Using a Window function, the following code confirms that the dataset does not contain duplicate records.

In [3]:
pd.read_sql("""
WITH count_occurence_cte AS
(
    SELECT *, 
    RANK() OVER (PARTITION BY id, name, gender, born, died, height, weight, team, noc, game, sport, event, medal) AS occurence
    FROM olympics.olympic_history
)
SELECT *
FROM count_occurence_cte
WHERE occurence > 1
ORDER BY occurence DESC 
""", conn)

Empty DataFrame
Columns: [id, name, gender, born, died, height, weight, team, game, noc, sport, event, medal, occurence]
Index: []

### 3.2 Standardize inconsistent date values and Handle missing values

In both the `born` and `died` columns, the date values exhibit inconsistency. The following are the various formats found in both columns:
- `'(1880 or 1881)'` 
- `'(circa 1880)'` 
- `'(c. 1880)'`
- `'September 1880'`
- `'1933'` 
- `'NULL'`

In [173]:
# Check date values that do not start with digits
pd.read_sql("""
SELECT DISTINCT born
FROM olympics.olympic_history
WHERE (LENGTH(born) = 4 OR NOT born ~ E'^[0-9]+') AND born != 'NULL' 
""", conn)

               born
0              1910
1      January 1885
2     December 1881
3              1933
4    September 1880
..              ...
270    (circa 1929)
271      April 1872
272            1875
273  (1942 or 1943)
274            1888

[275 rows x 1 columns]

In [325]:
# Create empty table
cursor.execute("DROP TABLE IF EXISTS olympics.olympic_history_cleaned;")
cursor.execute("""
CREATE TABLE olympics.olympic_history_cleaned
(
    id INTEGER,
    name VARCHAR,
    gender VARCHAR,
    born VARCHAR,
    birth_year INTEGER,
    died VARCHAR,
    death_year INTEGER,
    height_cm INTEGER,
    weight_kg INTEGER,
    noc VARCHAR,
    country VARCHAR,
    game VARCHAR,
    sport VARCHAR,
    event VARCHAR,
    medal VARCHAR
);

""")

cursor.execute("""
INSERT INTO olympics.olympic_history_cleaned
SELECT
    id,
    name,
    gender,
    
    -- Extract Year values from 'born' and 'died' columns 
    -- Handle missing values
    CASE WHEN born = 'NULL' THEN NULL ELSE born END AS born,
    CASE WHEN born = 'NULL' THEN NULL ELSE SUBSTRING(born from '\d{4}')::INTEGER END AS birth_year,
    CASE WHEN died = 'NULL' THEN NULL ELSE died END AS died,
    CASE WHEN died = 'NULL' THEN NULL ELSE SUBSTRING(died from '\d{4}')::INTEGER END AS death_year,
    
    -- Extract measurements
    CASE WHEN height = 'NULL' THEN NULL ELSE SUBSTRING(height from '\d{3}')::INTEGER END AS height_cm,
    CASE WHEN weight = 'NULL' THEN NULL ELSE SUBSTRING(weight from '\d{2}')::INTEGER END AS weight_kg,
    
    noc, 
    team AS country,
    game, 
    sport, 
    event,
    CASE WHEN medal = 'NULL' THEN NULL ELSE medal END AS medal
    
FROM olympics.olympic_history  
""")

conn.commit()

In [326]:
pd.read_sql("""
SELECT *
FROM olympics.olympic_history_cleaned
""", conn)

,id,name,gender,born,birth_year,died,death_year,height_cm,weight_kg,noc,country,game,sport,event,medal
0,61659,Peter Cooke,Male,23 September 1924,1924.0,27 December 2001,2001.0,172.0,69.0,KEN,Kenya,1964 Summer Olympics,Sailing,"Sailing, One Person Dinghy, Open(Olympic)",None
1,61659,Peter Cooke,Male,23 September 1924,1924.0,27 December 2001,2001.0,172.0,69.0,KEN,Kenya,1964 Summer Olympics,Sailing,"Sailing, One Person Dinghy, Open(Olympic)",None
2,11427,Jennifer Parlevliet,Female,27 April 1960,1960.0,None,NaN,165.0,53.0,AUS,Australia,1996 Summer Olympics,Equestrian Jumping (Equestrian),"Equestrian Jumping (Equestrian), Individual, O...",None
3,11427,Jennifer Parlevliet,Female,27 April 1960,1960.0,None,NaN,165.0,53.0,AUS,Australia,1996 Summer Olympics,Equestrian Jumping (Equestrian),"Equestrian Jumping (Equestrian), Team, Open(Ol...",None
4,11427,Jennifer Parlevliet,Female,27 April 1960,1960.0,None,NaN,165.0,53.0,AUS,Australia,1996 Summer Olympics,Equestrian Jumping (Equestrian),"Equestrian Jumping (Equestrian), Team, Open(Ol...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476343,90774,Li Na,Female,9 March 1981,1981.0,None,NaN,177.0,67.0,CHN,People's Republic of China,2012 Summer Olympics,Fencing,"Fencing, Épée, Team, Women(Olympic)",Gold
476344,90774,Li Na,Female,9 March 1981,1981.0,None,NaN,177.0,67.0,CHN,People's Republic of China,2012 Summer Olympics,Fencing,"Fencing, Épée, Team, Women(Olympic)",Gold
476345,114612,Lopez Lomong,Male,1 January 1985,1985.0,None,NaN,180.0,69.0,USA,United States,2008 Summer Olympics,Athletics,"Athletics, 1,500 metres, Men(Olympic)",None
476346,114612,Lopez Lomong,Male,1 January 1985,1985.0,None,NaN,180.0,69.0,USA,United States,2012 Summer Olympics,Athletics,"Athletics, 5,000 metres, Men(Olympic)",None
476347,114612,Lopez Lomong,Male,1 January 1985,1985.0,None,NaN,180.0,69.0,USA,United States,2012 Summer Olympics,Athletics,"Athletics, 5,000 metres, Men(Olympic)",None

## Case Study Questions

### 1. How many olympics games have been held?

In [202]:
pd.read_sql("""
SELECT COUNT(DISTINCT h.game) AS "Total Number Of Olympic Games"
FROM olympics.olympic_history_cleaned h
JOIN olympics.host_cities c ON h.game = c.game
""", conn)

   Total Number Of Olympic Games
0                             53

#### 2. List down all Olympics games held so far.

In [203]:
pd.read_sql("""
SELECT DISTINCT c.year, h.game, c.host_city
FROM olympics.olympic_history_cleaned h
JOIN olympics.host_cities c ON h.game = c.game
ORDER BY c.year
""", conn)

    year                  game               host_city
0   1896  1896 Summer Olympics                  Athina
1   1900  1900 Summer Olympics                   Paris
2   1904  1904 Summer Olympics               St. Louis
3   1908  1908 Summer Olympics                  London
4   1912  1912 Summer Olympics               Stockholm
5   1920  1920 Summer Olympics               Antwerpen
6   1924  1924 Summer Olympics                   Paris
7   1924  1924 Winter Olympics                Chamonix
8   1928  1928 Summer Olympics               Amsterdam
9   1928  1928 Winter Olympics            Sankt Moritz
10  1932  1932 Winter Olympics             Lake Placid
11  1932  1932 Summer Olympics             Los Angeles
12  1936  1936 Summer Olympics                  Berlin
13  1936  1936 Winter Olympics  Garmisch-Partenkirchen
14  1948  1948 Summer Olympics                  London
15  1948  1948 Winter Olympics            Sankt Moritz
16  1952  1952 Winter Olympics                    Oslo
17  1952  1952 Summer Olympics                Helsinki
18  1956  1956 Winter Olympics       Cortina d'Ampezzo
19  1956  1956 Summer Olympics               Melbourne
20  1960  1960 Summer Olympics                    Roma
21  1960  1960 Winter Olympics            Squaw Valley
22  1964  1964 Summer Olympics                   Tokyo
23  1964  1964 Winter Olympics               Innsbruck
24  1968  1968 Summer Olympics        Ciudad de México
25  1968  1968 Winter Olympics                Grenoble
26  1972  1972 Summer Olympics                 München
27  1972  1972 Winter Olympics                 Sapporo
28  1976  1976 Summer Olympics                Montréal
29  1976  1976 Winter Olympics               Innsbruck
30  1980  1980 Summer Olympics                  Moskva
31  1980  1980 Winter Olympics             Lake Placid
32  1984  1984 Winter Olympics                Sarajevo
33  1984  1984 Summer Olympics             Los Angeles
34  1988  1988 Summer Olympics                   Seoul
35  1988  1988 Winter Olympics                 Calgary
36  1992  1992 Winter Olympics             Albertville
37  1992  1992 Summer Olympics               Barcelona
38  1994  1994 Winter Olympics             Lillehammer
39  1996  1996 Summer Olympics                 Atlanta
40  1998  1998 Winter Olympics                  Nagano
41  2000  2000 Summer Olympics                  Sydney
42  2002  2002 Winter Olympics          Salt Lake City
43  2004  2004 Summer Olympics                  Athina
44  2006  2006 Winter Olympics                  Torino
45  2008  2008 Summer Olympics                 Beijing
46  2010  2010 Winter Olympics               Vancouver
47  2012  2012 Summer Olympics                  London
48  2014  2014 Winter Olympics                   Sochi
49  2016  2016 Summer Olympics          Rio de Janeiro
50  2018  2018 Winter Olympics             PyeongChang
51  2020  2020 Summer Olympics                   Tokyo
52  2022  2022 Winter Olympics                 Beijing

#### 3. Mention the total number of nations who participated in each olympics game?

In [204]:
pd.read_sql("""
SELECT 
    h.game,
    c.host_city,
    COUNT(DISTINCT h.noc) AS nb_nations
FROM olympics.olympic_history_cleaned h
JOIN olympics.host_cities c ON h.game = c.game
GROUP BY h.game, c.host_city
""", conn)

                    game               host_city  nb_nations
0   1896 Summer Olympics                  Athina          14
1   1900 Summer Olympics                   Paris          29
2   1904 Summer Olympics               St. Louis          10
3   1908 Summer Olympics                  London          24
4   1912 Summer Olympics               Stockholm          30
5   1920 Summer Olympics               Antwerpen          29
6   1924 Summer Olympics                   Paris          45
7   1924 Winter Olympics                Chamonix          20
8   1928 Summer Olympics               Amsterdam          46
9   1928 Winter Olympics            Sankt Moritz          25
10  1932 Summer Olympics             Los Angeles          47
11  1932 Winter Olympics             Lake Placid          17
12  1936 Summer Olympics                  Berlin          50
13  1936 Winter Olympics  Garmisch-Partenkirchen          28
14  1948 Summer Olympics                  London          59
15  1948 Winter Olympics            Sankt Moritz          28
16  1952 Summer Olympics                Helsinki          69
17  1952 Winter Olympics                    Oslo          30
18  1956 Summer Olympics               Melbourne          69
19  1956 Winter Olympics       Cortina d'Ampezzo          32
20  1960 Summer Olympics                    Roma          84
21  1960 Winter Olympics            Squaw Valley          30
22  1964 Summer Olympics                   Tokyo          94
23  1964 Winter Olympics               Innsbruck          36
24  1968 Summer Olympics        Ciudad de México         112
25  1968 Winter Olympics                Grenoble          37
26  1972 Summer Olympics                 München         121
27  1972 Winter Olympics                 Sapporo          35
28  1976 Summer Olympics                Montréal         104
29  1976 Winter Olympics               Innsbruck          37
30  1980 Summer Olympics                  Moskva          80
31  1980 Winter Olympics             Lake Placid          37
32  1984 Summer Olympics             Los Angeles         140
33  1984 Winter Olympics                Sarajevo          49
34  1988 Summer Olympics                   Seoul         159
35  1988 Winter Olympics                 Calgary          57
36  1992 Summer Olympics               Barcelona         169
37  1992 Winter Olympics             Albertville          64
38  1994 Winter Olympics             Lillehammer          67
39  1996 Summer Olympics                 Atlanta         197
40  1998 Winter Olympics                  Nagano          72
41  2000 Summer Olympics                  Sydney         200
42  2002 Winter Olympics          Salt Lake City          78
43  2004 Summer Olympics                  Athina         201
44  2006 Winter Olympics                  Torino          80
45  2008 Summer Olympics                 Beijing         204
46  2010 Winter Olympics               Vancouver          82
47  2012 Summer Olympics                  London         205
48  2014 Winter Olympics                   Sochi          89
49  2016 Summer Olympics          Rio de Janeiro         207
50  2018 Winter Olympics             PyeongChang          93
51  2020 Summer Olympics                   Tokyo         206
52  2022 Winter Olympics                 Beijing          91

#### 4. Which year saw the highest and lowest number of countries participating in olympics?

In [245]:
pd.read_sql("""
WITH count_nations_cte AS
( 
    SELECT h.game, COUNT(DISTINCT h.noc) AS nb_nations
    FROM olympics.olympic_history_cleaned h
    JOIN olympics.host_cities c ON h.game = c.game
    GROUP BY h.game
)
SELECT DISTINCT
    CONCAT(FIRST_VALUE(game) OVER (ORDER BY nb_nations ASC), ' - ', 
        FIRST_VALUE(nb_nations) OVER (ORDER BY nb_nations ASC), ' nations') AS lowest_nb_nations,
    CONCAT(FIRST_VALUE(game) OVER (ORDER BY nb_nations DESC), ' - ', 
        FIRST_VALUE(nb_nations) OVER (ORDER BY nb_nations DESC), ' nations') AS highest_nb_nations
FROM count_nations_cte
""", conn)

                   lowest_nb_nations                  highest_nb_nations
0  1904 Summer Olympics - 10 nations  2016 Summer Olympics - 207 nations

#### 5. Which nation has participated in all of the olympic games?

In [206]:
pd.read_sql("""
SELECT COUNT(DISTINCT h.game) AS "Total Olympic Games"
FROM olympics.olympic_history_cleaned h
JOIN olympics.host_cities c ON h.game = c.game
""", conn)

   Total Olympic Games
0                   53

In [209]:
pd.read_sql("""
WITH count_games_cte AS
(
    SELECT h.country, COUNT(DISTINCT h.game) AS total_olympics_attended
    FROM olympics.olympic_history_cleaned h
    JOIN olympics.host_cities c ON h.game = c.game
    GROUP BY h.country
)
SELECT country, total_olympics_attended
FROM count_games_cte
WHERE total_olympics_attended = 
(
    SELECT COUNT(DISTINCT h.game) AS total_games
    FROM olympics.olympic_history_cleaned h
    JOIN olympics.host_cities c ON h.game = c.game
)
""", conn)

         country  total_olympics_attended
0  Great Britain                       53
1          Italy                       53

#### 6. Identify the sport which was played in all summer olympics.

In [210]:
pd.read_sql("""
SELECT COUNT(DISTINCT h.game) AS "Total Number of Summer Games"
FROM olympics.olympic_history_cleaned h
JOIN olympics.host_cities c ON h.game = c.game
WHERE c.season = 'Summer'
""", conn)

   Total Number of Summer Games
0                            29

In [211]:
pd.read_sql("""
WITH count_summer_games_cte AS
(
    SELECT h.sport, COUNT(DISTINCT h.game) AS total_summer_games_attended
    FROM olympics.olympic_history_cleaned h
    JOIN olympics.host_cities c ON h.game = c.game
    WHERE c.season = 'Summer'
    GROUP BY h.sport
)
SELECT sport, total_summer_games_attended
FROM count_summer_games_cte
WHERE total_summer_games_attended =
(
    SELECT COUNT(DISTINCT h.game) AS "Total Number of Summer Games"
    FROM olympics.olympic_history_cleaned h
    JOIN olympics.host_cities c ON h.game = c.game
    WHERE c.season = 'Summer'
)
""", conn)

                              sport  total_summer_games_attended
0  Artistic Gymnastics (Gymnastics)                           29
1                         Athletics                           29
2                           Fencing                           29
3               Swimming (Aquatics)                           29

#### 7. Which Sports were just played only once in the olympics?

In [212]:
pd.read_sql("""
WITH count_sport_games_cte AS
(
    SELECT 
        h.sport, 
        COUNT(DISTINCT h.game) AS "nb_games"
    FROM olympics.olympic_history_cleaned h
    JOIN olympics.host_cities c ON h.game = c.game
    GROUP BY h.sport
    HAVING COUNT(DISTINCT h.game) = 1
)
SELECT 
    DISTINCT cte.sport, 
    c.year, 
    h.game, 
    c.host_city, 
    cte.nb_games
FROM count_sport_games_cte cte
LEFT JOIN olympics.olympic_history_cleaned h ON cte.sport = h.sport
JOIN olympics.host_cities c ON h.game = c.game
ORDER BY c.year 
""", conn)

,sport,year,game,host_city,nb_games
0,Automobile Racing,1900,1900 Summer Olympics,Paris,1
1,Ballooning (Air Sports),1900,1900 Summer Olympics,Paris,1
2,Boules,1900,1900 Summer Olympics,Paris,1
3,Cricket,1900,1900 Summer Olympics,Paris,1
4,Croquet,1900,1900 Summer Olympics,Paris,1
5,Equestrian Driving (Equestrian),1900,1900 Summer Olympics,Paris,1
6,Firefighting,1900,1900 Summer Olympics,Paris,1
7,Fishing,1900,1900 Summer Olympics,Paris,1
8,Motorcycle Sports,1900,1900 Summer Olympics,Paris,1
9,Roque,1904,1904 Summer Olympics,St. Louis,1
10,Bicycle Polo (Cycling),1908,1908 Summer Olympics,London,1
11,Jeu De Paume,1908,1908 Summer Olympics,London,1
12,Motorboating,1908,1908 Summer Olympics,London,1
13,Racquets,1908,1908 Summer Olympics,London,1
14,Equestrian Vaulting (Equestrian),1920,1920 Summer Olympics,Antwerpen,1
15,Canne De Combat,1924,1924 Summer Olympics,Paris,1
16,Savate,1924,1924 Summer Olympics,Paris,1
17,Kaatsen,1928,1928 Summer Olympics,Amsterdam,1
18,Skijoring (Skiing),1928,1928 Winter Olympics,Sankt Moritz,1
19,Dogsled Racing,1932,1932 Winter Olympics,Lake Placid,1
20,Aeronautics (Air Sports),1936,1936 Summer Olympics,Berlin,1
21,Gliding (Air Sports),1936,1936 Summer Olympics,Berlin,1
22,Winter Pentathlon,1948,1948 Winter Olympics,Sankt Moritz,1
23,Bandy,1952,1952 Winter Olympics,Oslo,1
24,Pesäpallo,1952,1952 Summer Olympics,Helsinki,1
25,Australian Rules Football,1956,1956 Summer Olympics,Melbourne,1
26,Kendo,1964,1964 Summer Olympics,Tokyo,1
27,Waterskiing,1972,1972 Summer Olympics,München,1
28,Bowling,1988,1988 Summer Olympics,Seoul,1
29,Roller Hockey (Roller Sports),1992,1992 Summer Olympics,Barcelona,1
30,Speed Skiing (Skiing),1992,1992 Winter Olympics,Albertville,1
31,Wushu,2008,2008 Summer Olympics,Beijing,1
32,3x3 Basketball (Basketball),2020,2020 Summer Olympics,Tokyo,1
33,Cycling BMX Freestyle (Cycling),2020,2020 Summer Olympics,Tokyo,1
34,Karate,2020,2020 Summer Olympics,Tokyo,1
35,Skateboarding (Roller Sports),2020,2020 Summer Olympics,Tokyo,1
36,Sport Climbing,2020,2020 Summer Olympics,Tokyo,1
37,Surfing,2020,2020 Summer Olympics,Tokyo,1

#### 8. Fetch the total number of sports played in each olympic games.

In [213]:
pd.read_sql("""
SELECT 
    h.game, 
    c.host_city, 
    COUNT(DISTINCT h.sport) AS total_number_disciplines
FROM olympics.olympic_history_cleaned h
JOIN olympics.host_cities c ON h.game = c.game
GROUP BY h.game, c.host_city
""", conn)

                    game               host_city  total_number_disciplines
0   1896 Summer Olympics                  Athina                        10
1   1900 Summer Olympics                   Paris                        28
2   1904 Summer Olympics               St. Louis                        20
3   1908 Summer Olympics                  London                        26
4   1912 Summer Olympics               Stockholm                        21
5   1920 Summer Olympics               Antwerpen                        30
6   1924 Summer Olympics                   Paris                        27
7   1924 Winter Olympics                Chamonix                        10
8   1928 Summer Olympics               Amsterdam                        23
9   1928 Winter Olympics            Sankt Moritz                        10
10  1932 Summer Olympics             Los Angeles                        23
11  1932 Winter Olympics             Lake Placid                         9
12  1936 Summer Olympics                  Berlin                        30
13  1936 Winter Olympics  Garmisch-Partenkirchen                        10
14  1948 Summer Olympics                  London                        25
15  1948 Winter Olympics            Sankt Moritz                        10
16  1952 Summer Olympics                Helsinki                        26
17  1952 Winter Olympics                    Oslo                         9
18  1956 Summer Olympics               Melbourne                        22
19  1956 Winter Olympics       Cortina d'Ampezzo                         8
20  1960 Summer Olympics                    Roma                        22
21  1960 Winter Olympics            Squaw Valley                         8
22  1964 Summer Olympics                   Tokyo                        26
23  1964 Winter Olympics               Innsbruck                        11
24  1968 Summer Olympics        Ciudad de México                        25
25  1968 Winter Olympics                Grenoble                        10
26  1972 Summer Olympics                 München                        29
27  1972 Winter Olympics                 Sapporo                        10
28  1976 Summer Olympics                Montréal                        26
29  1976 Winter Olympics               Innsbruck                        10
30  1980 Summer Olympics                  Moskva                        26
31  1980 Winter Olympics             Lake Placid                        10
32  1984 Summer Olympics             Los Angeles                        30
33  1984 Winter Olympics                Sarajevo                        10
34  1988 Summer Olympics                   Seoul                        34
35  1988 Winter Olympics                 Calgary                        13
36  1992 Summer Olympics               Barcelona                        36
37  1992 Winter Olympics             Albertville                        14
38  1994 Winter Olympics             Lillehammer                        12
39  1996 Summer Olympics                 Atlanta                        36
40  1998 Winter Olympics                  Nagano                        14
41  2000 Summer Olympics                  Sydney                        39
42  2002 Winter Olympics          Salt Lake City                        15
43  2004 Summer Olympics                  Athina                        39
44  2006 Winter Olympics                  Torino                        15
45  2008 Summer Olympics                 Beijing                        42
46  2010 Winter Olympics               Vancouver                        15
47  2012 Summer Olympics                  London                        39
48  2014 Winter Olympics                   Sochi                        15
49  2016 Summer Olympics          Rio de Janeiro                        41
50  2018 Winter Olympics             PyeongChang                        15
51  2020 Summer Olympics                   Tokyo                        49
52  2022 Winter Olympics                 Beijing                        15

#### 9. Fetch details of the oldest athletes to win a gold medal.

In [274]:
pd.read_sql("""
SELECT 
    h.id, 
    h.name, 
    CASE 
        WHEN birth_year > 1910 AND death_year IS NOT NULL THEN death_year - birth_year
        WHEN birth_year > 1910 THEN 2023 - birth_year 
        ELSE NULL
    END AS age,
    h.medal
FROM olympics.olympic_history_cleaned h
JOIN olympics.host_cities c ON h.game = c.game
WHERE h.medal = 'Gold' 
GROUP BY h.id, h.name, h.birth_year, h.death_year, h.medal
ORDER BY age DESC
LIMIT 5
""", conn)

      id            name   age medal
0  42764    Gyula Halasy  None  Gold
1  62478  Christian Jebe  None  Gold
2  18851   John Robinson  None  Gold
3  22697       Nedo Nadi  None  Gold
4  19145   Richard Allen  None  Gold

#### 10. Find the Ratio of male and female athletes participated in all olympic games.

In [238]:
pd.read_sql("""
SELECT 
    TO_CHAR(SUM(CASE WHEN gender = 'Male' THEN 1 ELSE 0 END), 'FM999,999') AS nb_males,
    TO_CHAR(SUM(CASE WHEN gender = 'Female' THEN 1 ELSE 0 END), 'FM999,999') AS nb_females,
    TO_CHAR(COUNT(id), 'FM999,999') AS total_athletes,
    CONCAT(ROUND(SUM(CASE WHEN gender = 'Male' THEN 1 ELSE 0 END)/COUNT(id)::NUMERIC * 100, 1), ' %') AS males_percent,
    CONCAT(ROUND(SUM(CASE WHEN gender = 'Female' THEN 1 ELSE 0 END)/COUNT(id)::NUMERIC * 100, 1), ' %') AS females_percent,
    CONCAT(ROUND(SUM(CASE WHEN gender = 'Male' THEN 1 ELSE 0 END)/SUM(CASE WHEN gender = 'Female' THEN 1 ELSE 0 END)::NUMERIC), ': 1') AS "Ration M:F"    
FROM 
(
    -- Retrieve unique IDs
    
    SELECT DISTINCT h.id, h.gender, h.game
    FROM olympics.olympic_history_cleaned h
    JOIN olympics.host_cities c ON h.game = c.game
    
) unique_id

""", conn)

  nb_males nb_females total_athletes males_percent females_percent Ration M:F
0  156,845     58,644        215,489        72.8 %          27.2 %       3: 1

#### 11. In which year were female athletes permitted to participate in the Olympic Games? Provide a breakdown of the male and female participants for each Olympic Games.

In [386]:
pd.read_sql("""    

    
SELECT DISTINCT h.id, h.name, h.gender, h.country, h.game

FROM olympics.olympic_history_cleaned h
JOIN olympics.host_cities c ON h.game = c.game
    
WHERE 
    -- h.noc = 'CZE' AND
    h.gender = 'Female'
    -- h.gender = 'Male' 
    -- AND c.year = 1896 
    -- AND event LIKE '%(Olympic)'
    AND h.game = '1924 Winter Olympics'

""", conn)

,id,name,gender,country,game
0,80676,Theresa Weld-Blanchard,Female,United States,1924 Winter Olympics
1,81010,Ludowika Jakobsson-Eilers,Female,Finland,1924 Winter Olympics
2,81024,Helene Engelmann,Female,Austria,1924 Winter Olympics
3,81280,Sonja Henie,Female,Norway,1924 Winter Olympics
4,81285,Gérardine Herbos,Female,Belgium,1924 Winter Olympics
5,81421,Andrée Brunet-Joly,Female,France,1924 Winter Olympics
6,81707,Beatrix Loughran,Female,United States,1924 Winter Olympics
7,81885,Ethel Muckelt,Female,Great Britain,1924 Winter Olympics
8,81948,Svea Norén,Female,Sweden,1924 Winter Olympics
9,82188,Mildred Richardson,Female,Great Britain,1924 Winter Olympics
10,82249,Simone Sabouret,Female,France,1924 Winter Olympics
11,82361,Kathleen Shaw,Female,Great Britain,1924 Winter Olympics
12,82404,Cecil Smith,Female,Canada,1924 Winter Olympics
13,82509,Herma Planck-Szabo,Female,Austria,1924 Winter Olympics
14,1005250,Z. Pandaković,Female,Yugoslavia,1924 Winter Olympics
15,1005251,Olga Przedrzymirska,Female,Poland,1924 Winter Olympics

In [382]:
pd.read_sql("""   
WITH unique_id_cte AS
(
    SELECT 
        DISTINCT id, 
        name, 
        gender, 
        
        game,
        year
    FROM 
    (
        SELECT h.id, h.name, h.gender, h.game, c.year
        FROM olympics.olympic_history_cleaned h
        JOIN olympics.host_cities c ON h.game = c.game
        WHERE h.event LIKE '%(Olympic)' 
    ) e
)
SELECT 
    year,
    game,
    SUM(CASE WHEN gender = 'Male' THEN 1 ELSE 0 END) AS nb_males,
    SUM(CASE WHEN gender = 'Female' THEN 1 ELSE 0 END) AS nb_females,
    COUNT(id) AS total_athletes
FROM unique_id_cte

GROUP BY year, game
ORDER BY year
""", conn)

    year                  game  nb_males  nb_females  total_athletes
0   1896  1896 Summer Olympics       242           2             244
1   1900  1900 Summer Olympics      1303          26            1329
2   1904  1904 Summer Olympics       746           6             752
3   1908  1908 Summer Olympics      2351          53            2404
4   1912  1912 Summer Olympics      2803          62            2865
5   1920  1920 Summer Olympics      2759          81            2840
6   1924  1924 Winter Olympics       360          16             376
7   1924  1924 Summer Olympics      3757         170            3927
8   1928  1928 Summer Olympics      3422         345            3767
9   1928  1928 Winter Olympics       457          28             485
10  1932  1932 Winter Olympics       279          23             302
11  1932  1932 Summer Olympics      1797         205            2002
12  1936  1936 Winter Olympics       618          90             708
13  1936  1936 Summer Olympics      4687         383            5070
14  1948  1948 Summer Olympics      4366         466            4832
15  1948  1948 Winter Olympics       605          80             685
16  1952  1952 Winter Olympics       584         110             694
17  1952  1952 Summer Olympics      4800         541            5341
18  1956  1956 Winter Olympics       699         135             834
19  1956  1956 Summer Olympics      2942         376            3318
20  1960  1960 Summer Olympics      4958         638            5596
21  1960  1960 Winter Olympics       525         145             670
22  1964  1964 Winter Olympics       902         201            1103
23  1964  1964 Summer Olympics      4614         699            5313
24  1968  1968 Winter Olympics       956         213            1169
25  1968  1968 Summer Olympics      4913         809            5722
26  1972  1972 Winter Olympics       817         207            1024
27  1972  1972 Summer Olympics      6232        1103            7335
28  1976  1976 Winter Olympics       903         231            1134
29  1976  1976 Summer Olympics      4960        1313            6273
30  1980  1980 Winter Olympics       843         238            1081
31  1980  1980 Summer Olympics      4219        1164            5383
32  1984  1984 Summer Olympics      5339        1602            6941
33  1984  1984 Winter Olympics       996         281            1277
34  1988  1988 Summer Olympics      6353        2243            8596
35  1988  1988 Winter Olympics      1121         317            1438
36  1992  1992 Winter Olympics      1332         499            1831
37  1992  1992 Summer Olympics      6752        2754            9506
38  1994  1994 Winter Olympics      1232         533            1765
39  1996  1996 Summer Olympics      6938        3576           10514
40  1998  1998 Winter Olympics      1414         795            2209
41  2000  2000 Summer Olympics      6680        4136           10816
42  2002  2002 Winter Olympics      1531         899            2430
43  2004  2004 Summer Olympics      6405        4407           10812
44  2006  2006 Winter Olympics      1556         963            2519
45  2008  2008 Summer Olympics      6404        4712           11116
46  2010  2010 Winter Olympics      1527        1050            2577
47  2012  2012 Summer Olympics      5991        4776           10767
48  2014  2014 Winter Olympics      1673        1134            2807
49  2016  2016 Summer Olympics      6267        5136           11403
50  2018  2018 Winter Olympics      1675        1178            2853
51  2020  2020 Summer Olympics      6040        5538           11578
52  2022  2022 Winter Olympics      1571        1277            2848

In [365]:
pd.read_sql("""    
SELECT 
    year,
    game,
    SUM(CASE WHEN gender = 'Male' THEN 1 ELSE 0 END) AS nb_males,
    SUM(CASE WHEN gender = 'Female' THEN 1 ELSE 0 END) AS nb_females,
    COUNT(id) AS total_athletes
FROM 
(
    -- Retrieve unique IDs
    
    SELECT DISTINCT h.id, h.gender, h.game, c.year
    FROM olympics.olympic_history_cleaned h
    JOIN olympics.host_cities c ON h.game = c.game
    WHERE 
        h.event LIKE '%(Olympic)' 
        AND NOT h.event LIKE '%Open%' 
        -- AND NOT h.event LIKE '%Mixed%' 

    
) i
GROUP BY year, game
ORDER BY year
""", conn)

    year                  game  nb_males  nb_females  total_athletes
0   1896  1896 Summer Olympics       242           2             244
1   1900  1900 Summer Olympics      1131          19            1150
2   1904  1904 Summer Olympics       746           6             752
3   1908  1908 Summer Olympics      2275          51            2326
4   1912  1912 Summer Olympics      2662          61            2723
5   1920  1920 Summer Olympics      2649          79            2728
6   1924  1924 Winter Olympics       339          16             355
7   1924  1924 Summer Olympics      3526         146            3672
8   1928  1928 Summer Olympics      2918         303            3221
9   1928  1928 Winter Olympics       457          28             485
10  1932  1932 Winter Olympics       279          23             302
11  1932  1932 Summer Olympics      1226         131            1357
12  1936  1936 Winter Olympics       618          90             708
13  1936  1936 Summer Olympics      4020         350            4370
14  1948  1948 Summer Olympics      3891         413            4304
15  1948  1948 Winter Olympics       605          80             685
16  1952  1952 Winter Olympics       584         110             694
17  1952  1952 Summer Olympics      4554         534            5088
18  1956  1956 Winter Olympics       699         135             834
19  1956  1956 Summer Olympics      2788         376            3164
20  1960  1960 Summer Olympics      4591         629            5220
21  1960  1960 Winter Olympics       525         145             670
22  1964  1964 Winter Olympics       889         201            1090
23  1964  1964 Summer Olympics      4278         685            4963
24  1968  1968 Winter Olympics       947         213            1160
25  1968  1968 Summer Olympics      4211         784            4995
26  1972  1972 Winter Olympics       801         207            1008
27  1972  1972 Summer Olympics      5361        1067            6428
28  1976  1976 Winter Olympics       878         231            1109
29  1976  1976 Summer Olympics      4252        1280            5532
30  1980  1980 Winter Olympics       819         238            1057
31  1980  1980 Summer Olympics      3762        1151            4913
32  1984  1984 Summer Olympics      4817        1551            6368
33  1984  1984 Winter Olympics       974         281            1255
34  1988  1988 Summer Olympics      5862        2177            8039
35  1988  1988 Winter Olympics      1093         317            1410
36  1992  1992 Winter Olympics      1301         499            1800
37  1992  1992 Summer Olympics      6289        2675            8964
38  1994  1994 Winter Olympics      1198         533            1731
39  1996  1996 Summer Olympics      6576        3509           10085
40  1998  1998 Winter Olympics      1384         795            2179
41  2000  2000 Summer Olympics      6364        4068           10432
42  2002  2002 Winter Olympics      1500         899            2399
43  2004  2004 Summer Olympics      6154        4341           10495
44  2006  2006 Winter Olympics      1514         963            2477
45  2008  2008 Summer Olympics      6169        4618           10787
46  2010  2010 Winter Olympics      1487        1050            2537
47  2012  2012 Summer Olympics      5846        4677           10523
48  2014  2014 Winter Olympics      1659        1134            2793
49  2016  2016 Summer Olympics      6121        5037           11158
50  2018  2018 Winter Olympics      1596        1178            2774
51  2020  2020 Summer Olympics      5866        5431           11297
52  2022  2022 Winter Olympics      1506        1277            2783

In [117]:
conn.close()